@font-face {
  font-family: 'dance';
  src: url('../assets/fonts/dance_partner.ttf');
}

@font-face {
  font-family: "Dela Gothic One";
  src: url('../assets/fonts/DelaGothicOne-Regular.ttf')
}

@font-face {
  font-family: 'Girloy';
  src: url('../assets/fonts/Gilroy-Light.otf')
}

@font-face {
  font-family: 'Denistina';
  src: url('../assets/fonts/Denistina.ttf')
}